.buttons{
  padding: 20px 20px 0 20px;
  display: flex;
  background-color: $color-background-grey;
  position: relative;

  &__sort{
    display: flex;
    gap: 15px;

    & button{
      &:hover{
        opacity: 0.8;

      }
    }
  }

  &__filter{
    gap: 15px;
    position: absolute;
    right: 4%;
  }

  &__button{
    width: 100%;
    margin-bottom: 5px;
  }


  &-item{
    height: 35px;
    background-color: $main-purple-color;
    border: none;
    font-size: 20px;

    &:hover{
      cursor: pointer;

    }
  }
}

.menu{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #646477;
  padding: 4px;
  opacity: 0;
  transform: translateY(-10px);
  visibility: hidden;
  transition: 0.3s;
  z-index: 1;


  &.open{
    transform: translateY(0);
    visibility: visible;
    opacity: 1;

  }

  &-item{

    & button{

    position: relative;
    width: 100%;
      &:hover{
        opacity: 0.8;

      }

    }
  }
}