.todo{

  &__submit{
    height: 35px;
    width: 50px;
    background-color: $main-purple-color;
    border: none;
    font-family: $font-stack-main;
    font-size: 20px;
    
    &:hover{
      cursor: pointer;
      padding: 1px;
      border: 1px black solid;
    }
  }
}
