$font-stack-main: "Inter", sans-serif;
$font-size-main: 18px;
$font-weight-main: 400;
$font-weight-bold: 700;
$font-color: #dec7ff;
$background-color: #0e0e10;
$main-purple-color:#bf94ff;
$color-background-grey: #37373d;
$color-background-todos: #1b1b1e; //#1b1b1e #37373d