.main{

  &-list{

    &__edit{
      width: 20px;
      height: 20px;
      position: absolute;
      right: 7%;
      top: 39%;
      cursor: pointer;
    }

    &__pencil{
      width: 23px;
      height: 23px;
      background-image: url(https://img.icons8.com/?size=24&id=sKp0dy2A108d&format=png);
      background-color: transparent;
      border: none;
      background-repeat: no-repeat;
      cursor: pointer;
      color: red;
    }
  }
}