.main{
  &-list{

    &__item{
      position: relative;
    }
    &__button{
      width: 20px;
      height: 20px;
      position: absolute;
      right: 5%;
      top: 40%;
      cursor: pointer;
    }
    &__left{
      width: 1px;
      height: 20px;
      background-color: red;
      rotate: 45deg;
      position: absolute;
      left: 10px;
    }
    &__right{
      width: 1px;
      height: 20px;
      background-color: red;
      rotate: -45deg;
      position: absolute;
      left: 10px;
    }
  }
}