.main{

  &-list{
    padding: 20px;
    background-color: $color-background-grey;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    &__item{
      display: flex;
      flex-direction: column;
      gap: 5px;
      margin-bottom: 20px;
      padding: 20px;
      padding-left: 50px;
      background-color: $color-background-todos;

    }

    &__title{
      font-size: 25px;
    }

    &__description{
      font-size: 15px;
      opacity: 50%;
    }
  }
}