.main{

  &-list{

    padding: 20px;
    background-color: $color-background-grey;

    &__item{
      display: flex;
      flex-direction: column;
      gap: 15px;
      margin-bottom: 20px;
      padding: 20px;
      background-color: $color-background-todos;

    }

    &__title{
      font-size: 25px;
    }

    &__description{
      font-size: 15px;
      opacity: 50%;
    }
  }
}